/* Base */

main {
  padding: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

/* Notice */

.notice > :first-child {
  margin-top: 0;
}

.notice > :last-child {
  margin-bottom: 0;
}

/* Navigation */

.navigation {
  margin-bottom: 2rem;
}

.navigation > details {
  margin-bottom: 0;
}

.navigation > details > ul {
  padding-bottom: 0.7rem;
}

/* Breadcrumbs */

.breadcrumbs a {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 0 !important;
  background: initial !important;
}

.breadcrumbs li {
  display: contents;
}

.breadcrumbs li:not(:last-child)::after {
  content: "/";
}

/* Entry Information */

.directory-title {
  margin-top: 12px;
}

.directory-title,
.file-title {
  font-weight: bold;
  font-size: 1.2em;
}

.directory-anchor,
.directory-anchor:visited {
  color: inherit;
  display: flex;
}

.directory-hash,
.directory-hash:visited {
  margin-left: 0.5em;
  color: #888;
  opacity: 0;
  transition: opacity 0.2s;
}

.directory-anchor:hover .directory-hash,
.directory-anchor:focus-within .directory-hash,
.directory-title:target .directory-hash {
  opacity: 1;
}

.directory-description,
.file-description {
  padding-left: 20px;
  font-size: 1.0em;
}

.file-links {
  padding-left: 20px;
  font-size: 0.9em;
}

.file-dates {
  padding-left: 20px;
  font-size: 0.9em;
}

/* About Box */

@media (min-width: 500px) {
  .about {
    text-align: justify;
  }
}

/* Awesome Cursor */

.fanclub,
.fanclub > * {
  animation: fanclub 400ms infinite;
  cursor: url("/img/cursors/cursor-normal-0.gif") 24 24, auto;
}

@keyframes fanclub {
  0% {
    cursor: url("/img/cursors/cursor-normal-0.gif") 24 24, auto;
  }
  25% {
    cursor: url("/img/cursors/cursor-normal-1.gif") 24 24, auto;
  }
  50% {
    cursor: url("/img/cursors/cursor-normal-2.gif") 24 24, auto;
  }
  75% {
    cursor: url("/img/cursors/cursor-normal-3.gif") 24 24, auto;
  }
}

.hearts,
.hearts > * {
  animation: hearts 400ms infinite;
  cursor: url("/img/cursors/cursor-hearts-0.gif") 24 24, auto;
}

@keyframes hearts {
  0% {
    cursor: url("/img/cursors/cursor-hearts-0.gif") 24 24, auto;
  }
  33% {
    cursor: url("/img/cursors/cursor-hearts-1.gif") 24 24, auto;
  }
  66% {
    cursor: url("/img/cursors/cursor-hearts-2.gif") 24 24, auto;
  }
}
