<!DOCTYPE html>

<html lang="{{ meta.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/css/simple.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>{% block title %}{{ meta.title }}{% endblock %}</title>
    <meta name="description" content="{{ meta.description }}" />
    <meta name="keywords" content="{{ meta.keywords|join(', ') }}" />
    <meta name="author" content="{{ meta.author }}" />

    <link rel="canonical" href="{% block canonical %}{{ meta.base }}{% endblock %}" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/img/icons/favicon.svg" />
    <link rel="icon" type="image/png" sizes="48x48" href="/img/icons/favicon48.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="/img/icons/favicon64.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body itemscope itemtype="{% block itemtype %}https://schema.org/WebPage{% endblock %}" itemid="">
    <header>
      {% block header %}{% endblock %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
