{% macro render_tree(tree, path="", depth=0, maxdepth=-1) %}
  {% set unfold = maxdepth != -1 and depth >= maxdepth %}
  <ul>
    {% for key, node in tree.items() %}
      <li>
        {% set node_id = (path ~ '/' ~ node.slug).lstrip('/') %}

        {% if node.type == "directory" %}
          {% if unfold %}
            {% set node_path = '#' ~ node_id %}
          {% else %}
            {% set node_path = node_id ~ '/' %}
          {% endif %}

          <div itemscope itemtype="https://schema.org/Collection" itemid="{{ node_path }}">
            <p class="directory-title" id="{{ node_id }}">
              <a class="directory-{% if unfold %}anchor{% else %}link{% endif %}" href="{{ node_path }}" itemprop="url">
                <span class="directory-name" itemprop="name">{{ node.name }}</span>
                {% if unfold %}<span class="directory-hash" aria-hidden="true">#</span>{% endif %}
              </a>
            </p>
            {% if node.description %}
              <p class="directory-description" itemprop="description">{{ node.description }}</p>
            {% endif %}
            {% if unfold %}
              {{ render_tree(node.content, path ~ "/" ~ node.slug, depth + 1, maxdepth) }}
            {% endif %}
          </div>

        {% elif node.type == "file" %}
          {% set node_path = '#' ~ node_id %}

          <div itemscope itemtype="https://schema.org/Manuscript" itemid="{{ node_path }}">
            <p class="file-title" id="{{ node_id }}">
              <a class="file-link" href="{{ (path ~ '/' ~ node.slug ~ '.pdf').lstrip('/') }}" itemprop="url">
                <span class="file-name" itemprop="name">{{ node.name }}</span>
              </a>
            </p>
            {% if node.description %}
              <p class="file-description" itemprop="description">{{ node.description }}</p>
            {% endif %}
            <p class="file-links">
              {% for extension in node.extensions %}
                <a href="{{ (path ~ '/' ~ node.slug ~ '.' ~ extension).lstrip('/') }}">{{ extension.upper() }}</a>
                {% if not loop.last %} | {% endif %}
              {% endfor %}
            </p>
            <p class="file-dates">
              {% if node.modified %}Posodobljeno: <span itemprop="dateModified" content="{{ node.modified }}">{{ node.modified|parse_datetime|format_datetime }}</span><br />{% endif %}
              {% if node.converted %}Obdelano: <span>{{ node.converted|parse_datetime|format_datetime }}</span>{% endif %}
            </p>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_toc(tree, path="/", depth=0, maxdepth=-1) %}
  <ul>
    {% for key, node in tree.items() %}
      {% if node.type == "directory" %}
        {% if maxdepth == -1 or depth < maxdepth %}
          {% set node_path = path ~ node.slug ~ '/' %}
        {% elif depth == maxdepth %}
          {% set node_path = path ~ '#' ~ node.slug %}
        {% else %}
          {% set node_path = path ~ '/' ~ node.slug %}
        {% endif %}
        <li><a href="{{ node_path }}">{{ node.name }}</a>
          {% if node.content %}
            {{ render_toc(node.content, (path ~ node.slug ~ '/'), depth + 1, maxdepth) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_breadcrumbs(breadcrumbs) %}
  <nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      {% for breadcrumb in breadcrumbs %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="{{ breadcrumb.url }}" {% if loop.last %}aria-current="page"{% endif %}>
            <span>{% if loop.first %}Domov{% else %}{{ breadcrumb.name }}{% endif %}</span>
            <meta itemprop="name" content="{{ breadcrumb.name }}" />
          </a>
          <meta itemprop="position" content="{{ loop.index }}" />
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
