{% extends "base.html" %}

{% from "macros.html" import render_tree, render_toc %}

{% block header %}
  <h1 itemprop="name">{{ meta.title }}</h1>
{% endblock %}

{% block content %}
  <div class="notice about">
    <p class="description" itemprop="description">Stran vsebuje zapiske predavanj in vaj za študij matematike na
      Fakulteti za matematiko in fiziko Univerze v Ljubljani. Pravilnosti in popolnosti zapiskov ne zagotavljam,
      zato jih uporabljajte na lastno odgovornost. Namenjeni so osebni nekomercialni uporabi.</p>

    <p class="fanclub">Priporočam tudi ogled in članstvo v <a href="https://progklub.4a.si/pretnar/"
      target="_blank">Klubu oboževalk <span class="hearts">Matije Pretnarja</span></a>.</p>

    <p class="author">Avtor: <span itemprop="author">{{ meta.author }}</span></p>
  </div>

  <div class="notice links">
    <p>Nekaj spletni strani z drugimi zapiski za študij matematike:</p>
    <ul>
      {% set links = [
        "https://83433121.xyz/zapiski/",
        "https://vida26365.github.io/",
        "https://k3ap.github.io/",
        "https://makovec.si/faks",
      ] %}
      {% for url in links %}
        <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% if index.toc %}
    <nav class="navigation toc">
      <details>
        <summary>Kazalo</summary>
        {{ render_toc(tree, maxdepth=index.depth) }}
      </details>
    </nav>
  {% endif %}

  {{ render_tree(tree, maxdepth=index.depth) }}
{% endblock %}
